doctype
html
  head
    link(rel="stylesheet" href="css/vendor.min.css")
    link(rel="stylesheet" href="css/main.css")
    script(type="javascript" src="js/vendor.min.js")
    script(type="javascript" src="js/application.js")
  body
    != yield