.top-part
    .container.centered
        .row.who-line
            h1.who Chrstine &amp; Patrick are Getting Married
        .row.date-line
            h1.when September 5th, 2015
.middle-part
    .container.centered
        .row.nav-row
            ul.nav-bar
                li.nav-item
                    a(href='/info') info
                li.nav-item
                    a(href='/story') story
                li.nav-item
                    a(href='/registry') registry
        .row.rsvp-row
            a.btn(href='/rsvp') RSVP
        .row.info-row
            .col-sm-6.info-block
                h2.venue-name Nativity Church
                p.address.
                    210 Oak Grove Avenue
                    <br>
                    Menlo Park, California
            .col-sm-6.info-block
                h2.venue-name Garden Court Hotel
                p.address.
                    520 Cowper Street 
                    <br>
                    Palo Alto, California
.bottom-part
    .container.centered
.curtain
.modal-outer
    .modal-inner
        form#rsvp-form

