.outer-row.top-part
    .container.centered
            .row.who-line
                h1.who 
                    span.no-wrap Chrstine &amp; Patrick 
                    br.visible-xs-inline
                    span are 
                    br.visible-xs-inline
                    span.no-wrap Getting Married
            .row.date-line
                h1.when September 5th, 2015

.outer-row.info-header.hidden-xs
    .container.centered
        .row.header-part
            .col-sm-6
                h4.venue-type ceremony
            .col-sm-6
                h4.venue-type reception

.outer-row.middle-part
    .container.centered
        .row.info-row
            .col-sm-6.info-block.to-edge
                h4.venue-type.visible-xs-block.hidden-sm ceremony
                h2.venue-name Nativity Church
                p.address.
                    210 Oak Grove Avenue
                    <br>
                    Menlo Park, California
                h4.time 2:00 PM
            .col-sm-6.info-block.to-edge
                h4.venue-type.visible-xs-block.hidden-sm reception
                h2.venue-name Garden Court Hotel
                p.address.
                    520 Cowper Street 
                    <br>
                    Palo Alto, California
                h4.time 5:00 PM

.outer-row.picture-break

.outer-row.alt-background
    .container.centered
        .row.where-to-stay-header
            .col-xs-12
                h2 Where should I stay?

.outer-row.where-to-stay
    .container.centered
        .row
            .col-xs-12
                h4
                    span Room blocks available under 
                    span Geibel/Conway Wedding
        .row.where-to-stay-info
            .col-sm-4.hotel-info
                h3.hotel-name The Sheraton Palo Alto
                h4.hotel-price $129/night
                p.parking Parking $14/night
                p.address.
                    123 Fake St.<br>
                    Palo Alto, CA
                p.website
                    a(href="http://sheraton.com") sheraton.com
            .col-sm-4.hotel-info
                    h3.hotel-name The Westin Palo Alto
                    h4.hotel-price $159/night
                    p.parking Parking $14/night
                    p.address.
                        123 Fake St.<br>
                        Palo Alto, CA
                    p.website
                        a(href="http://westin.com") westin.com
            .col-sm-4.hotel-info
                h3.hotel-name The Garden Court Hotel
                h4.hotel-price $219/night
                p.parking Parking $19/night
                p.address.
                    520 Cowper Street <br>
                    Palo Alto, California
                p.website
                    a(href="http://gardencourt.com") gardencourt.com

.outer-row.map-outer
    iframe.the-map(src="https://www.google.com/maps/d/embed?mid=zMgcypivs_ZE.ktB7xg2PPS0A")
    .left-grab.grab-bar
    .right-grab.grab-bar
//- .bottom-part
//-     .container.centered

