#index-page
    .outer-row.top-part
        .container.centered
                .row.who-line
                    h1.who
                        span.no-wrap Christine &amp; Patrick 
                        br.visible-xs-inline
                        span are 
                        br.visible-xs-inline
                        span.no-wrap Getting Married
                .row.date-line
                    h1.when September 5<sup>th</sup>, 2015

    .outer-row.rsvp-row
        .container.centered
            .row
                a#rsvp.btn(href="/rsvp") RSVP

    include ./_partials/_venues.jade

    .outer-row.picture-break

    .outer-row.alt-background
        .container.centered
            .row.where-to-stay-header
                .col-xs-12
                    h2 Where should I stay?

    .outer-row.where-to-stay
        .container.centered
            .row
                .col-xs-12
                    h4
                        span Please mention Geibel/Conway Wedding for group rate 
            .row.where-to-stay-info
                .col-sm-4.hotel-info
                    h3.hotel-name Sheraton Palo Alto
                    h4.hotel-price $129/night
                    p.parking Parking $14/night
                    p.address.
                        625 El Camino Real<br>
                        Palo Alto, CA 94301
                    p.website
                        a(href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=214&language=en_US" target="_blank") starwoodhotels.com
                        br
                        span.phone (800) 325-3535
                        br
                        a.email(href="mailto:sheratonreservations@pahotel.com?subject=Conway and Geibel Wedding Block&body=I would like to reserve a room.%0D%0A%0D%0AGuest Name: %0D%0AArrival Date: %0D%0ADeparture Date: %0D%0AYour Address: %0D%0AYour Phone #: %0D%0AGroup Name: Conway and Geibel Wedding" target="_blank") sheratonreservations@pahotel.com
                    h4.block-days-header Block Days
                    .block-days
                        .block-day
                            span.month SEP
                            br
                            span.date 4
                            br
                            span.day FRI
                        .block-day
                            span.month SEP
                            br
                            span.glyphicon.glyphicon-heart-empty
                            span.date  5 
                            span.glyphicon.glyphicon-heart-empty
                            br
                            span.day SAT
                        .block-day
                            span.month SEP
                            br
                            span.date 6
                            br
                            span.day SUN

                    //- p.block-days
                    //-     span.block-day FRI |
                    //-     span.glyphicon.glyphicon-heart-empty
                    //-     span.block-day.heart-day  SAT
                    //-     span.glyphicon.glyphicon-heart-empty
                    //-     span.block-day  | SUN
                .col-sm-4.hotel-info
                        h3.hotel-name Westin Palo Alto
                        h4.hotel-price $159/night
                        p.parking Parking $14/night
                        p.address.
                            675 El Camino Real<br>
                            Palo Alto, CA 94301
                        p.website
                            a(href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1198" target="_blank") starwoodhotels.com
                            br
                            span.phone (800) 937-8461
                            br
                            a.email(href="mailto:westinreservations@pahotel.com?subject=Conway and Geibel Wedding Block&body=I would like to reserve a room.%0D%0A%0D%0AGuest Name: %0D%0AArrival Date: %0D%0ADeparture Date: %0D%0AYour Address: %0D%0AYour Phone #: %0D%0AGroup Name: Conway and Geibel Wedding" target="_blank") westinreservations@pahotel.com
                        h4.block-days-header Block Days
                        .block-days
                            .block-day
                                span.month SEP
                                br
                                span.date 4
                                br
                                span.day FRI
                            .block-day
                                span.month SEP
                                br
                                span.glyphicon.glyphicon-heart-empty
                                span.date  5 
                                span.glyphicon.glyphicon-heart-empty
                                br
                                span.day SAT
                            .block-day
                                span.month SEP
                                br
                                span.date 6
                                br
                                span.day SUN
                .col-sm-4.hotel-info
                    h3.hotel-name The Garden Court
                    h4.hotel-price $219/night
                    p.parking Parking $21/night
                    p.address.
                        520 Cowper Street <br>
                        Palo Alto, California
                    p.website
                        a(href="http://www.gardencourt.com/" target="_blank") gardencourt.com
                        br
                        span.phone (650) 322-9000
                        br
                        span.email &nbsp;
                    h4.block-days-header Block Days
                    .block-days
                        .block-day
                            span.month SEP
                            br
                            span.date 4
                            br
                            span.day FRI
                        .block-day
                            span.month SEP
                            br
                            span.glyphicon.glyphicon-heart-empty
                            span.date  5 
                            span.glyphicon.glyphicon-heart-empty
                            br
                            span.day SAT

    .outer-row.map-outer
        iframe.the-map(src="https://www.google.com/maps/d/embed?mid=zMgcypivs_ZE.ktB7xg2PPS0A")
        .left-grab.grab-bar
        .right-grab.grab-bar

    .blanket

    #rsvp-modal.modal
        .modal-dialog
            .modal-content
                .modal-body
                    button.close
                        span x
                    .saving-message.centered.simple-hide
                        h3.saving Saving your RSVP
                        h3.saving-line
                            span.glyphicon.glyphicon-heart.active.transparent
                            span.glyphicon.glyphicon-heart.save-heart
                            span.glyphicon.glyphicon-heart.save-heart
                            span.glyphicon.glyphicon-heart.save-heart
                            span.glyphicon.glyphicon-heart.save-heart
                            span.glyphicon.glyphicon-heart.save-heart
                            span.glyphicon.glyphicon-heart.active.transparent
                    .success-message.centered.has-success.simple-hide
                        h3.success Thanks! We've received your RSVP
                        h3
                            span.glyphicon.glyphicon-ok
                    form.rsvp-form
                        .form-group.form-group-lg.has-feedback
                            label.control-label(for="party-name") Your group name
                            input#party-name.form-control(type="text", name="groupName", placeholder="The Belcher Family", required, minlength=1)
                            span.glyphicon.glyphicon-ok.form-control-feedback 
                            span.glyphicon.glyphicon-remove.form-control-feedback 
                        .form-group.form-group-lg.has-feedback
                            label.control-label(for="party-email") Your email (optional, for updates)
                            input#party-email.form-control(type="email", name="groupEmail", placeholder="burgerbob@aol.com")
                            span.glyphicon.glyphicon-ok.form-control-feedback 
                            span.glyphicon.glyphicon-remove.form-control-feedback 
                        .form-group.form-group-lg.has-feedback
                            label.control-label(for="party-size") Your group size (also include those not attending)
                            input#party-size.form-control(type="number", min=1, max=7, inputmode="numeric", name="groupSize", required)
                            span.glyphicon.glyphicon-ok.form-control-feedback 
                            span.glyphicon.glyphicon-remove.form-control-feedback 
                        .form-group.form-group-lg
                            button#update-guest.btn.btn-lg(type="button") Update Guest Count

                        .guest-section

                        .form-group.form-group-lg
                            label.control-label(for="song-input") Recommend a song for the reception
                            input#song-input.form-control(type="text", placeholder="Uptown Funk", name="groupSong")

                        .form-group.form-group-lg
                            input.btn.btn-lg#rsvp-submit(type="submit", disabled) Submit

    //- .outer-row.registry.alt-background
    //-     .container.centered
    //-         .row
    //-             .col-xs-12
    //-                 a.btn.text-uppercase(href="http://www.crateandbarrel.com/Gift-Registry/christine-geibel-and-patrick-conway/r5277427" target="_blank") Registry
    //-                 h4 More registries coming soon
