#party-page

    .outer-row.top-part.light-background
        .container.centered
            .row
                h1.page-title Meet the Bridal Party

    .outer-row.party-heads.party-list.alt-background
        .container
            .row
                .col-xs-6.girl-party.col-party
                    .party-face-outer.pull-right
                        img.party-face(src="/images/party/bridget.jpg")
                    .party-desc-outer.pull-right
                        h3 Bridget
                        h4 Matron of Honor
                        p Sister of the bride
                    .clear
                .col-xs-6.boy-party.col-party
                    .party-face-outer.pull-left
                        img.party-face(src="/images/party/alex.jpg")
                    .party-desc-outer.pull-left
                        h3 Alex
                        h4 Best Man
                        p Brother of the groom. Patrick's roommate 1989-2007
                    .clear

    .outer-row.party-list
        .container
            .row
                .col-xs-6.girl-party.col-party
                    .party-face-outer.pull-right
                        img.party-face(src="/images/party/sam.jpg")
                    .party-desc-outer.pull-right
                        h3 Sam
                        h4 Bridesmaid
                        p High School friend
                    .clear
                .col-xs-6.boy-party.col-party
                    .party-face-outer.pull-left
                        img.party-face(src="/images/party/travis.jpg")
                    .party-desc-outer.pull-left
                        h3 Travis
                        h4 Groomsman
                        p Patrick's roommate 2004-2005
                    .clear
            .row
                .col-xs-6.girl-party.col-party
                    .party-face-outer.pull-right
                        img.party-face(src="/images/party/laura.jpg")
                    .party-desc-outer.pull-right
                        h3 Laura
                        h4 Bridesmaid
                        p High School friend
                    .clear
                .col-xs-6.boy-party.col-party
                    .party-face-outer.pull-left
                        img.party-face(src="/images/party/hunter.jpg")
                    .party-desc-outer.pull-left
                        h3 Hunter
                        h4 Groomsman
                        p Patrick's housemate 2011-2013
                    .clear

            .row
                .col-xs-6.girl-party.col-party
                    .party-face-outer.pull-right
                        img.party-face(src="/images/party/gina.jpg")
                    .party-desc-outer.pull-right
                        h3 Gina
                        h4 Bridesmaid
                        p College roommate
                    .clear
                .col-xs-6.boy-party.col-party
                    .party-face-outer.pull-left
                        img.party-face(src="/images/party/jordan.jpg")
                    .party-desc-outer.pull-left
                        h3 Jordan
                        h4 Groomsman
                        p Patrick's roommate 2013
                    .clear

