#story-page
    .outer-row.top-part
        .container.centered
        .heart-bg.alt-3
        .heart-bg.alt-2
        .heart-bg.alt-1

    .outer-row.story-content
        .container
            .row.she-said
                .head-bubble-outer
                    .head-bubble-inner
                .story-line
                    p Pittsburgh just seemed like such an exotic place
            .row.he-said
                .head-bubble-outer
                    .head-bubble-inner
                .story-line
                    p I remember she asked me for a tomato sauce recipe
