#story-page
    .outer-row.top-part
        .container.centered
                .row.who-line
                    h1.who
                        span.no-wrap Our Story

    .outer-row.info-header.hidden-xs
        .container.centered
            .row.header-part
                .col-sm-6
                    h4.venue-type ceremony
                .col-sm-6
                    h4.venue-type reception

    .outer-row.middle-part
        .container.centered
            .row.info-row
                .col-sm-6.info-block.to-edge
                    h4.venue-type.visible-xs-block.hidden-sm ceremony
                    h2.venue-name Nativity Church
                    p.address.
                        210 Oak Grove Avenue
                        <br>
                        Menlo Park, California
                    h4.time 2:00 PM
                .col-sm-6.info-block.to-edge
                    h4.venue-type.visible-xs-block.hidden-sm reception
                    h2.venue-name Garden Court Hotel
                    p.address.
                        520 Cowper Street
                        <br>
                        Palo Alto, California
                    h4.time 5:00 PM

    .outer-row.picture-break

    .outer-row.alt-background
        .container.centered
            .row.where-to-stay-header
                .col-xs-12
                    h2 Where should I stay?

    .outer-row.where-to-stay
        .container.centered
            .row
                .col-xs-12
                    h4
                        span Please mention Geibel/Conway Wedding for group rate 
            .row.where-to-stay-info
                .col-sm-4.hotel-info
                    h3.hotel-name Sheraton Palo Alto
                    h4.hotel-price $129/night
                    p.parking Parking $14/night
                    p.address.
                        625 El Camino Real<br>
                        Palo Alto, CA 94301
                    p.website
                        a(href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=214&language=en_US" target="_blank") starwoodhotels.com
                        br
                        span.phone (800) 325-3535
                        br
                        a.email(href="mailto:sheratonreservations@pahotel.com?subject=Conway and Geibel Wedding Block&body=I would like to reserve a room.%0D%0A%0D%0AGuest Name: %0D%0AArrival Date: %0D%0ADeparture Date: %0D%0AYour Address: %0D%0AYour Phone #: %0D%0AGroup Name: Conway and Geibel Wedding" target="_blank") sheratonreservations@pahotel.com
                    h4.block-days-header Block Days
                    .block-days
                        .block-day
                            span.month SEP
                            br
                            span.date 4
                            br
                            span.day FRI
                        .block-day
                            span.month SEP
                            br
                            span.glyphicon.glyphicon-heart-empty
                            span.date  5 
                            span.glyphicon.glyphicon-heart-empty
                            br
                            span.day SAT
                        .block-day
                            span.month SEP
                            br
                            span.date 6
                            br
                            span.day SUN

                    //- p.block-days
                    //-     span.block-day FRI |
                    //-     span.glyphicon.glyphicon-heart-empty
                    //-     span.block-day.heart-day  SAT
                    //-     span.glyphicon.glyphicon-heart-empty
                    //-     span.block-day  | SUN
                .col-sm-4.hotel-info
                        h3.hotel-name Westin Palo Alto
                        h4.hotel-price $159/night
                        p.parking Parking $14/night
                        p.address.
                            675 El Camino Real<br>
                            Palo Alto, CA 94301
                        p.website
                            a(href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1198" target="_blank") starwoodhotels.com
                            br
                            span.phone (800) 937-8461
                            br
                            a.email(href="mailto:westinreservations@pahotel.com?subject=Conway and Geibel Wedding Block&body=I would like to reserve a room.%0D%0A%0D%0AGuest Name: %0D%0AArrival Date: %0D%0ADeparture Date: %0D%0AYour Address: %0D%0AYour Phone #: %0D%0AGroup Name: Conway and Geibel Wedding" target="_blank") westinreservations@pahotel.com
                        h4.block-days-header Block Days
                        .block-days
                            .block-day
                                span.month SEP
                                br
                                span.date 4
                                br
                                span.day FRI
                            .block-day
                                span.month SEP
                                br
                                span.glyphicon.glyphicon-heart-empty
                                span.date  5 
                                span.glyphicon.glyphicon-heart-empty
                                br
                                span.day SAT
                            .block-day
                                span.month SEP
                                br
                                span.date 6
                                br
                                span.day SUN
                .col-sm-4.hotel-info
                    h3.hotel-name The Garden Court
                    h4.hotel-price $219/night
                    p.parking Parking $21/night
                    p.address.
                        520 Cowper Street <br>
                        Palo Alto, California
                    p.website
                        a(href="http://www.gardencourt.com/" target="_blank") gardencourt.com
                        br
                        span.phone (650) 322-9000
                        br
                        span.email &nbsp;
                    h4.block-days-header Block Days
                    .block-days
                        .block-day
                            span.month SEP
                            br
                            span.date 4
                            br
                            span.day FRI
                        .block-day
                            span.month SEP
                            br
                            span.glyphicon.glyphicon-heart-empty
                            span.date  5 
                            span.glyphicon.glyphicon-heart-empty
                            br
                            span.day SAT

    .outer-row.map-outer
        iframe.the-map(src="https://www.google.com/maps/d/embed?mid=zMgcypivs_ZE.ktB7xg2PPS0A")
        .left-grab.grab-bar
        .right-grab.grab-bar

    //- .outer-row.registry.alt-background
    //-     .container.centered
    //-         .row
    //-             .col-xs-12
    //-                 a.btn.text-uppercase(href="http://www.crateandbarrel.com/Gift-Registry/christine-geibel-and-patrick-conway/r5277427" target="_blank") Registry
    //-                 h4 More registries coming soon
