#where-page

    .outer-row.top-part.light-background
        .container.centered
            .row
                h1.page-title Locations and Information

    .outer-row.key-places
        .container.centered
            .row
                h2 The two most important places

    include ./_partials/_venues.jade

    .outer-row.alt-background
        .container.centered
            .row
                h2 Flying Directions

    .outer-row.flying-directions.pad-me
        .container
            .row
                .col-sm-8.col-sm-offset-2
                    p The three major airports are San Francisco, Oakland, and San Jose. San Francisco is the closet and most convenient for those using public transportation.

                    p You can take public transit, rent a car or use a taxi service to get around. All of the wedding venues are reachable via public transit and a short (less than 10 minute) walk.

                    p The directions below will get you to the three block-rate hotels. If you are going directly to the Church of the Nativity, you will need to go to the Menlo Park CalTrain station.
            .row
                .col-sm-6
                    h4 Public transit from the San Francisco Airport (SFO)
                    ol
                        li Follow the signs to BART
                        li Take the BART one stop South to Millbrae (they charge $4.25 for this one stop, unfortunately. Still cheaper than a taxi). During the daytime on weekdays, you must go north one stop to San Bruno and then south one stop to Millbrae
                        li Next you'll need to transfer to the CalTrain. Make sure you buy a CalTrain ticket before you get on the CalTrain. This should cost $5.25.
                        li Take the CalTrain South (direction: San Jose) and get off at the Palo Alto stop
                .col-sm-6
                    h4 Public transit from San Jose (SJC)
                    ol
                        li Take the number 10 shuttle towards the Santa Clara CalTrain Station.
                        li Take the CalTrain towards San Francisco.
                        li Get off at the Palo Alto stop (cost will be $3 -- be sure to purchase a ticket before getting on the train).

                    h4 Public Transit from Oakland (OAK)
                    ol
                        li Take the BART to Milbrae, then follow the directions from SFO from step 3
            .row
                .col-sm-6.col-sm-offset-3
                    h4 Once you are at the Palo Alto CalTrain Station
                    ul
                        li 
                            a(target="_blank", href="https://www.google.com/maps/dir/Palo+Alto+Caltrain+Station/Sheraton+Palo+Alto,+625+El+Camino+Real,+Palo+Alto,+CA+94301/@37.44189,-122.16453,18z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x808fbb30c8ee6e39:0x1fcc2f80a59e9a1!2m2!1d-122.1649!2d37.44307!1m5!1m1!1s0x808fbb307f6fef21:0xf7bdf2ddf43b6d2f!2m2!1d-122.163501!2d37.441482!3e2") Walking directions to the Sheraton
                        li 
                            a(target="_blank", href="https://www.google.com/maps/dir/Palo+Alto+Caltrain+Station/The+Westin+Palo+Alto,+El+Camino+Real,+Palo+Alto,+CA/@37.4417061,-122.16453,18z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x808fbb30c8ee6e39:0x1fcc2f80a59e9a1!2m2!1d-122.1649!2d37.44307!1m5!1m1!1s0x808fbb3aa03bd063:0x7b20a252cac523be!2m2!1d-122.163142!2d37.440448!3e2") Walking directions to the Westin
                        li
                            a(target="_blank", href="https://www.google.com/maps/dir/Palo+Alto+Caltrain+Station/Garden+Court+Hotel,+Cowper+Street,+Palo+Alto,+CA/@37.4460961,-122.1667796,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x808fbb30c8ee6e39:0x1fcc2f80a59e9a1!2m2!1d-122.1649!2d37.44307!1m5!1m1!1s0x808fbb38dfa5fda5:0xe96bd6668c0a2c92!2m2!1d-122.158938!2d37.447927!3e2") Walking directions to the Garden Court Hotel
                        li
                            //- a(target="_blank", href="https://www.google.com/maps/dir/Menlo+Park+Caltrain+Station,+Menlo+Park,+CA/Church+of+the+Nativity,+Oak+Grove+Avenue,+Menlo+Park,+CA/@37.4571237,-122.1848914,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x808fa4ae453a8637:0xa0d39978eada388a!2m2!1d-122.18202!2d37.45418!1m5!1m1!1s0x808fa4a94a408a41:0xc71ba67cf2c719f5!2m2!1d-122.180296!2d37.460716!3e2") Walking directions to the Church of the Nativity

    .outer-row.generic-directions.alt-background
        .container.centered
            .row
                h2 Custom Directions

    .outer-row.directions#directions-outer.pad-me
        .container.centered
            form
                .row.direction-mode.hidden-xs
                    .form-group.form-group-lg
                        .btn-group
                            button(type="button", data-mode="driving").btn.btn-lg Driving
                            button(type="button", data-mode="transit").btn.btn-lg Public Transit
                            button(type="button", data-mode="walking").btn.btn-lg Walking
                .row.direction-choices
                    .col-sm-6
                        .form-group.form-group-lg
                            label(for="from-picker").control-label From: 
                            select#from-picker.form-control
                                include ./_partials/_locations.jade
                    .col-sm-6
                        .form-group.form-group-lg
                            label(for="to-picker").control-label To: 
                            select#to-picker.form-control
                                include ./_partials/_locations.jade
            .row.direction-display.hidden-xs
                .col-xs-12.direction-set(data-direction-id="nativity_to_garden_court")
                    iframe#map-embed(src="https://www.google.com/maps/embed/v1/directions?origin=Church%20of%20the%20Nativity%2C%20Oak%20Grove%20Avenue%2C%20Menlo%20Park%2C%20CA%2C%20United%20States&destination=The%20Garden%20Court%20Hotel%20Menlo%20Park&key=AIzaSyA4kjM9Ys7Yott7dO_ESqewl04gppkUlm8&mode=driving")
            .row.direction-display-mini
                .col-xs-12
                    a.btn.btn-lg#map-link(href="https://www.google.com/maps?ll=37.453471,-122.171259&z=14&t=m&hl=en-US&gl=US&mapclient=embed&saddr=Church+of+the+Nativity,+210+Oak+Grove+Avenue,+Menlo+Park,+CA+94025&daddr=Garden+Court+Hotel,+520+Cowper+Street,+Palo+Alto,+CA+94301&dirflg=d", target="_blank") View in Google Maps

