#where-page

    .outer-row.top-part.light-background
        .container.centered
            .row
                h1.page-title Locations and Information

    .outer-row.key-places
        .container.centered
            .row
                h2 The two most important places

    include ./_partials/_venues.jade

    .outer-row.directions#directions-outer
        .container.centered
            .row.direction-choices
                form
                    .col-xs-6
                        .form-group.form-group-lg
                            label(for="from-picker").control-label From: 
                            select#from-picker.form-control
                                option(value="nativity", selected="true") The Church of the Nativity
                    .col-xs-6
                        .form-group.form-group-lg
                            label(for="to-picker").control-label To: 
                            select#to-picker.form-control
                                option(value="garden-court", selected="true") The Garden Court Hotel
            .row.direction-display.hidden-xs
                .col-xs-12.direction-set(data-direction-id="nativity_to_garden_court")
                    iframe(src="https://www.google.com/maps/embed/v1/directions?origin=Church%20of%20the%20Nativity%2C%20Oak%20Grove%20Avenue%2C%20Menlo%20Park%2C%20CA%2C%20United%20States&destination=The%20Garden%20Court%20Hotel%20Menlo%20Park&key=AIzaSyA4kjM9Ys7Yott7dO_ESqewl04gppkUlm8")
            .row.direction-display-mini.visible-xs-block
                .col-xs-12
                    a.btn.btn-large(href="#")#direction-link Open Directions

