option(value='Church+of+the+Nativity,+Oak+Grove+Avenue,+Menlo+Park,+CA,+United+States') Church of the Nativity (Ceremony)
option(value='Garden+Court+Hotel,+Cowper+Street,+Palo+Alto,+CA,+United+States') The Garden Court Hotel (Reception)
option(value='Sheraton+Palo+Alto,+El+Camino+Real,+Palo+Alto,+CA,+United+States') The Sheraton Palo Alto
option(value='The+Westin+Palo+Alto,+El+Camino+Real,+Palo+Alto,+CA,+United+States') The Westin Palo Alto
option(value='San+Francisco+Airport,+San+Francisco,+CA,+United+States') San Francisco Int'l Airport (SFO)
option(value='Mineta+San+José+International+Airport,+Airport+Boulevard,+San+Jose,+CA,+United+States') San Jose Airport (SJC)
option(value='Palo+Alto+Caltrain+Station,+Palo+Alto,+CA,+United+States') The Palo Alto CalTrain Station
option(value='Menlo+Park+Caltrain+Station,+Menlo+Park,+CA,+United+States') The Menlo Park CalTrain Station
