body {
  font-family: 'Bitter', serif;
}

@import "_index.less";

.outer-row {
  background: #FFF;
  color: #333;
  &.alt-background {
    background: #778EA4;
    color: #FFF;
  }
}

.picture-break {
  min-height: 400px;
  background: url('/images/looking-right.jpg');
  -ms-behavior: url(/backgroundsize.min.htc);
  background-size: cover;
  background-position: 0 25%;
}